:root {
    --primary-color: #161514;
    --secondary-color: #d5cbbb;
}

@font-face {
  font-family: 'MADE Mirage';
  src: url('./font/made-mirage/MADE\ Mirage\ Regular\ PERSONAL\ USE.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
    font-family: 'MADE Mirage', sans-serif ;
    background-color: var(--primary-color);
    color: rgb(43, 43, 43); 
    margin: 0;
}

a {
    text-decoration: none;
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
    color: var(--secondary-color);
}

nav {
    text-align: center;
    margin: 1rem 0 2rem 0;
}

nav a {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.4rem 1rem;
    border-radius: 3px;
    font-size: large;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s ease;

}

nav a:hover {
    background-color: #756b5b ;
    color: #d5cbbb;
    transform: scale(1.1);
}


.logo-container {
    display: flex;
    justify-content: center;
}

.about-me {
    background-color: white;
    background-image: url("./images/emile-perron-xrVDYZRGdw4-unsplash.jpg");
    background-size: cover;     
    background-position: center;  
    background-repeat: no-repeat; 
    height: 400px;    
    max-width: 1400px;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    color: var(--secondary-color);
}

.about-me-info {
    padding: 2rem;
    max-width: 700px;
}

.about-me-info h2 {
    font-size: 4.5rem;
    color: white;
}

.about-me-info p {
    max-width: 800px;
    line-height: 2;
}

/* .about-me-git {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.about-me-git img {
    max-width: 200px;
    margin-bottom: 1.5rem;
    opacity: 70%;
} */


.github-profile-btn {
    background-color: var(--primary-color);
    font-weight: 500;
    color: var(--secondary-color);
    padding: 0.7rem;
    border-radius: 3px;
    text-align: center;
}

.github-profile-btn:hover {
    background-color: #d5cbbb;
    color: var(--primary-color);
}

.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;

}

.projects-section {
    margin: 5rem auto;
    border-radius: 5px;
    max-width: 1400px;
}

.projects-section h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--secondary-color);
    text-transform: uppercase;
    padding-top: 2rem;
    text-decoration: underline;
}
.projects-section img {
    aspect-ratio: 16/9;
    border-radius: 5px;
}

.projects-section h3 {
    color: var(--primary-color); 
}

.projects-section h3:hover {
    color: #756b5b;
}


.thumbnail {
    margin: 2rem auto;  
    text-align: center;
    background-color: var(--secondary-color);
    padding: 0.8rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.thumbnail a {
    color: rgb(43, 43, 43);
    font-size: large;
    text-transform: uppercase;
}

.thumbnail img {
  filter: grayscale(100%);
}


.git-rep a {
    text-transform: uppercase;
    font-weight: bolder;
}

.git-rep:hover {
    color: #756b5b;
}


.thumbnail p {
    max-width: 400px;
}